header{
	background:	 #0077c0;
}

header{
	#logo{
		display: none;
	}
	#topposition{
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 100%;

}
#background{
	background-color: white;
	/*background-size: 200px 150px;
	background-size: contain;*/
	margin-bottom: 5%; 
  	margin-left: 15%;
  	margin-right: 10%;
}
#logo{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#banner{
	margin-left: 0px;
	margin-right: 50%;
}
#resize{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;

}
#resizea{
	margin-left: 50px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#logo{
	margin-left: 0px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#container{
	background-color: gray;
}
#img{
	background-color: white;
}
.row{
	color: white;
}
#contact{
	width: 10px;
	height: 160px;
	margin-top: 25px;
	margin-left: 45px;
	margin-bottom: 20px;

}
#contain{
	width: 1400px;
	height: 20%;
}
#logoa{
	margin-right: 50px;
	width: 70%;

}

}
.list-group-item{
	color: green;
}
.voucher{
	margin-right: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.voucher_1{
	padding-top: 11px;
	padding-bottom: 11px;

}
/*---------calendar---------*/
* {
	margin: 0;
	padding: 0;
}

html {
    font-family: sans-serif;
}

.clasp {
	background: #aaaaaa;
	border: 1px solid #999999;
	border-radius: 4px;
	box-shadow: 0 -1px 5px rgba(0,0,0,0.4), inset -1px 1px 2px white;
	display: block;
	height: 16px;
	position: absolute;
	top: -5px;
	width: 4px;
	z-index: 2000;
}
.clasp.hole-left {
	left: 9px;
}
.clasp.hole-right {
	right: 9px;
}

.hole {
	background: #99ccff;
	border-radius: 8px;
	box-shadow: 0 -1px 0 black, inset 0 0 20px #878787;
	display: block;
	height: 8px;
	position: absolute;
	top: 8px;
	width: 8px;
}

.hole-left {
	left: 8px;
}
.hole-right {
	right: 8px;
}

#calendar {
	background: #e4e0e7;
	box-shadow: 0 0 20px #878787;
	height: 208px;
	position: relative;
	text-align: center;
	width: 216px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#month {
	background: linear-gradient(#bcde4b, #8bc620);
	color: white;
	height: 30px;
	line-height: 30px;
	text-shadow: 0 -1px 0 #878787;
	width: 216px;
}

#days {
	background: linear-gradient(#f4f4f4, #ebebeb);
	-webkit-box-shadow: 0 1px 0 #aaaaaa;
}

table.days {
	color: #888888;
	font-size: 11px;
	width: 216px;
}

table.day td, table.days td {
	width: 30px;
}

table.day td {
	background: #f4f0f7;
	color: #878787;
	height: 29px;
	box-shadow: 0 -1px 0 white;
}

table.day td.old-month {
	color: #aaaaaa;
}

table.day td:hover {
  background: #e9e9ee;
  cursor: pointer;
}

table.day td.selected {
	background: linear-gradient(#bcde4b, #8bc620);
	color: white;
	text-shadow: 0 -1px 0 #878787;
}

table.day td.appoint {
	border-bottom: 2px solid #99ccff;
}
/*------end calendar---------*/
/*-------side bar-----------*/
.badgee{
	padding: 5px 5px !important;
	border-radius: 40px !important;
	color: #000000;
	background-color: #fcff00;
}
.menu-left{
	margin-top:20px;
	ul{
		li{
			margin-top: 0px;
			a{
				padding-top: 14px;
				padding-bottom: 14px;
				padding-left :10px;
				color: #ffffff;
				background-color: #7ac142;
				border-radius: 0px;
				background-image: url(../../assets/images/bg-left-side_03.png);
				background-position: bottom;
				background-repeat: repeat-x;
			}
		}
	}
}
.sidenavv{
	li{
		a:hover, a:focus{
			color: #ffffff;
			background-color: #7ac142;
		}
	}
}
.right-arrowa{float: right !important;}
/*----------Style Table---------*/





/**header{background:#0077c0;}@media (max-width:320px){header{background:#0077c0;}}**/
