/*
*=========Header=========
*/
/*=============Top Header=========*/
.top-bar{
	width: 100%;
	min-height: 42px;
	background-color: #7ac142;
}
.welcome{
	float: left;
	color: #ffffff;
}
.telephone{
	float: right;
	margin-top: 10px;
	color: #ffffff;
}
.currency{
	color: #000000;
	border-color: #fcff00;
	background-color: #fcff00;
}
/*=============Header Menu===========*/
.navbar{margin-top: 10px; }
.logo{
	float: left;
	margin-top: 15px;
}
.head-nav{margin-top: 15px;}
.search-box{position: relative;}
.search-form{margin-top: 20px;}
.search-text{
	min-width: 290px;
	height: 40px;
}
.search-button{
	margin: 0px;
	position: absolute;
	float: right;
	top: 7%;
	right:5%;
	border: none;
	background: transparent;
	background-image: url(../../assets/images/srcbtn_03.png);
	background-repeat: no-repeat;
	background-position: center;
}
.cart-account{
	max-width: 150px;
	max-height: 100px;
	float: right;
}
.cart-wrap {
	position: relative;
	float: left;
	width: 75px;
	height: 65px;
}
.account-wrap{@extend .cart-wrap}
.cart-wrap{
	background-image: url(../../assets/images/img_03.png);
	background-position: top center;
	background-repeat: no-repeat;
}
#cart-count{
	position: absolute;
	top: 4px;
	right: 18px;
	color: #ffffff;
	font-size: 14px;
	background-color: transparent;
}
.total-price{
	position: absolute;
	bottom: 0px;
	left: 10px;
}
.account-wrap{
	background-image: url(../../assets/images/img_09.png);
	background-position: center;
	background-repeat: no-repeat;
}
.account{
	position: absolute;
	bottom: 0px;
}/*==============Title bar================*/
.title{
	width: 100%;
	background-color: #0077c0;
	min-height: 60px
}
.breadcrumb{
	margin-top:10px;
	margin-bottom: 10px;
	background: none;
	font-size: 22px;
	a{color: #ffffff;}
	li + li:before{content: ">";}
}
.view-sort{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	ul{
		float: right;
		li{
			display: inline-block;
			label{
				color: #ffffff;
				font-weight: normal;
			}
			select{
				height: 30px;
			    padding-left: 5px;
			    padding-right: 5px;
			    background-color: #ffffff;
			}
		}
	}
}
.select-view{
	margin-left: 5px;
	margin-right: 5px;
}
.select-sort{margin-left: 5px;}
/*
*================Main Content============
*/
main{padding-bottom: 40px;}
.main-content{
	h1{
		padding-bottom: 10px;
		margin-bottom: 20px;
		background-position: left bottom;
		background-size: 125px;
		background-image: url(../../assets/images/underline2_03.png);
		background-repeat: no-repeat;
	}
}
/*===========-side bar=================*/
.badge{
	padding: 5px 5px !important;
	border-radius: 40px !important;
	color: #000000;
	background-color: #fcff00;
}
.left-side{
	margin-top:20px;
	ul{
		li{
			margin-top: 0px;
			a{
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left :10px;
				color: #ffffff;
				background-color: #7ac142;
				border-radius: 0px;
				font-size: 20px;
				background-image: url(../../assets/images/bg-left-side_03.png);
				background-position: bottom;
				background-repeat: repeat-x;
			}
		}
	}
}
.sidenav{ li{ a:hover{ color: #7ac142;}}}
.right-arrow{float: right !important;}
/*
*
************Add Compoment here***********
*
*/
/*======Administrator Login Site=========*/
.content{
	position: relative;
	overflow: visible;
	width: 100%;
}
.login-form{ 
	margin-top: 10%;
	margin-left: 40%;
	width: 	250px;
	border-radius: 5px;
	background-color: #027272;
	box-shadow: 5px 5px 50px grey;
	h1{
		text-align: center;
		font-family: "Times New Roman";
		color: white;
		padding-top: 10px;
	    padding-bottom: 10px;
	}
	ul{
		li{
			list-style: none;
			padding-top:10px;
			padding-bottom:10px;
			padding-left: 10px;
			padding-right: 10px;
			label {
				font-size: 15px;
				font-weight: bold;
				color: #ffffff;
			}
		}
	}
}
.log-text{
	width: 225px;
	height: 20px;
	border-radius: 5px;
}
.login-btn{
	margin-top:10px;
	border: none;
	border-radius: 5px;
    color: white;
    background-color: #2196f3;
    padding: 10px 28px;
    text-align: center;
    font-size: 16px;
}

/*===============Change Pass=============*/
.change-pass{
	.input-pass{
		margin-top:10px !important;
		margin-bottom: 10px !important;
		max-width: 460px ;
		height: 40px;
	}
	input[type=submit]{
		margin-left: 30%;
		margin-top:10px !important;
		margin-bottom: 10px !important;
	    height: 50px !important;
	    width: 135px !important;
	}
}
/*================Contact Info===============*/
.user-table-info{
	td{
		padding:0px !important;
		padding-bottom: 6px !important;
		border:none !important;
	}
	th{
		@extend td
		max-width: 60px !important;
		font-weight: normal;
	}
}
.change-info{
	width: 180px;
	height: 45px;
}
/*================My Account==================*/

/*----------------End of Compoment-------------*/
/*
*=================Footer===============
*/
footer{
	background-color: #282828;
	h3{
		padding-bottom: 10px;
		color: #f0f0f0;
		background-image: url(../../assets/images/underline_03.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
}
.footer-block{
	ul{
		padding-left: 0px;
		li{
			list-style: none;
			padding-top: 2px;
			padding-bottom: 2px;
			color: #f0f0f0;
			a{color: #f0f0f0;}
		}
	}
}
.search-tip{
	padding-top:10px;
	padding-bottom: 5px;
	font-size: 11px;
}
li.link-social{
	a{
		span{
			display: inline-block;
			width: 17px;
			height: 17px;
			margin-left:8px;
			margin-right:8px;
		}
	}
}
.footer-search{height: 40px;}
$social-bg: url(../../assets/images/icon-soc.png);
.sc-blog{
	background-image: $social-bg;
	margin-left: 0px !important;
}
.sc-print{
	background-image: $social-bg;
	background-position: -32px;
}
.sc-instagram{
	background-image: $social-bg;
	background-position: -66px;
}
.sc-youtube{
	background-image: $social-bg;
	background-position: -98px;
}
.sc-facebook{
	background-image: $social-bg;
	background-position: -126px;
}
.sc-tweeter{
	background-image: $social-bg;
	background-position: -160px;
}
.sc-google{
	background-image: $social-bg;
	background-position: right;
}
.copyright{
	width: 100%;
	height:75px;
	background-color: #202020;
	border-top:solid 1px grey;
	color: #d6d6d6;
	p{margin-top:25px;}
}