*{
	font-family: "Century Gothic";
}
header{
	background: none !important;
}
/*
*=========Header=========
*/
/*=============Top Header=========*/
.top-bar{
	width: 100%;
	min-height: 42px;
	background-color: #7ac142;
}
.welcome{
	float: left;
	color: #ffffff;
}
.telephone{
	float: right;
	margin-top: 10px;
	color: #ffffff;
}
.currency{
	color: #000000;
	background: none;
	border-color: #fcff00 !important;
	background-color: #fcff00 !important;
}
/*=============Header Menu===========*/
.navbar{margin-top: 10px; }
.head-nav{margin-top: 15px;}
.nav{li { a{color: #000000;}}}
.search-box{position: relative;}
.search-form{
	margin-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
}
.search-text{
	min-width: 290px;
	height: 40px;
}
.search-button{
	margin: 0px;
	position: absolute;
	float: right;
	top: 7%;
	right:5%;
	border: none;
	background: transparent;
	background-image: url(../../assets/images/srcbtn_03.png);
	background-repeat: no-repeat;
	background-position: center;
}
.cart-account{
	max-width: 150px;
	max-height: 100px;
	float: right;
}
.cart-wrap {
	position: relative;
	float: left;
	width: 65px;
	height: 65px;
}
.account-wrap{
	@extend .cart-wrap;
	width: 75px;
}
.cart-wrap{
	background-image: url(../../assets/images/img_03.png);
	background-position: top center;
	background-repeat: no-repeat;
}
#cart-count{
	position: absolute;
	top: 2px;
	right: 12px;
	color: #ffffff;
	font-size: 14px;
	background-color: transparent;
}
.total-price{
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 12px;
}
.account-wrap{
	background-image: url(../../assets/images/img_09.png);
	background-position: center;
	background-repeat: no-repeat;
}
.account{
	position: absolute;
	bottom: 0px;
	font-size: 12px;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px !important;
}
.select2-search--dropdown .select2-search__field{
	display: none;
	visibility: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #000000 transparent transparent transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 25px !important;
}
/*==============Title bar================*/
.title{
	width: 100%;
	background-color: #0077c0;
	min-height: 60px
}
.breadcrumb{
	margin-top:10px;
	margin-bottom: 10px;
	background: none;
	font-size: 19px;
	padding-left: 0px;
	padding-right: 0px;
	a{color: #ffffff;}
	li + li:before{content: ">";}
}
.view-sort{
	min-height: 48px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	label{
		margin-left: 15px;
		margin-right: 5px;
		color: #ffffff;
		font-weight: normal;
	}
	select{
		height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
	}
	ul{
		float: right;
		li{
			display: inline-block;
			
			
		}
	}
}

/*
*================Main Content============
*/
main{
	padding-bottom: 40px;
	min-height: 360px;}
.table-responsive{
	@mixin h1{
		padding-bottom: 10px;
		margin-bottom: 20px;
		background-position: left bottom;
		background-size: 125px;
		background-image: url(../../assets/images/underline_03.png);
		background-repeat: no-repeat;
	}
}
/*===========left-side bar=================*/
.badge{
	padding: 5px 5px !important;
	border-radius: 40px !important;
	color: #000000;
	background-color: #fcff00;
}
.left-side{
	margin-top:20px;
	ul{
		li{
			margin-top: 0px;
			a{
				padding-top: 14px;
				padding-bottom: 14px;
				padding-left :10px;
				color: #ffffff;
				background-color: #7ac142;
				border-radius: 0px;
				background-image: url(../../assets/images/bg-left-side_03.png);
				background-position: bottom;
				background-repeat: repeat-x;
			}
		}
	}
}
.sidenav{
	position: relative;
	float: left;
	width: 100%;
	li{
		a:hover, a:focus{
			color: #ffffff;
			background-color: #7ac142;
		}
	}
}
.sub-menu{
	float: none;
	position: relative;
	ul{
		position: absolute;
		top: 0px;
		width: 220px;
		left: 99%;
		z-index: 1;
	}
}
.right-arrow{float: right !important;}
/*
*
************Add Compoment here***********
*
*/
/*=================Pagination style====================*/
.pagin{
	float: right;
	label{
		margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		border-color: transparent !important;
	}
	.select2-selection__arrow{
		background-image: url(../../assets/images/down-arrow.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}
#pagination-page{
	width: 56px;
	height: 28px;
	border-radius: 0px !important;

}
.page-direction{
	float: right;
	list-style: none;
	width: 100px;
	li{
		display: inline;
		span{
			height: 24px;
			width: 24px;
			padding: 2px;
    	text-align: center;
    	font-size: 19px;
    	background-color: #616363;
    	color: #ffffff;
		}
	}
}
.last-page{background-color: #ebebeb !important;}

/*=================Style for all data Table==================*/
.data-table{
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	th{
		font-weight:normal;
		height:44px;
		padding:12px 8px !important;
		padding-right: 0px !important;
	}
	td{
		height:44px !important;
		padding-top:12px !important;
		padding-bottom:10px !important;
		padding-right: 0px !important;
	}
	.detail{
		span{
			margin-right: 5px;
			height: 18px;
			width: 28px;
			display: block;
			background-image: url(../../assets/images/detail-icon_03.png);
		}
	}
}
.data-search{
	position: relative;
	float: right;
	max-width: 190px;
	height: 40px;
	margin-top: 20px;
	input{
		max-width: 190px;
		height: 40px;
	}
}
.search-data{
	@extend .search-button;
	top: 10px;
  right: 10px;
  width: 21px;
  height: 20px;
}
/*======Administrator Login Site=========*/
.login-form{
	margin: auto;
	margin-top: 20px !important;
	max-width: 500px;
	.log-text{
		max-width: 465px;
		height: 45px;
	}
	input[type=submit]{
		margin-left: 32%;
	    height: 45px !important;
	    width: 180px !important;
	}
}

/*===============Change Pass=============*/
.change-pass{
	.input-pass{
		margin-top:10px !important;
		margin-bottom: 10px !important;
		max-width: 460px ;
		height: 40px;
	}
	input[type=submit]{
		margin-left: 30%;
		margin-top:10px !important;
		margin-bottom: 10px !important;
	    height: 50px !important;
	    width: 135px !important;
	}
}
/*================Contact Info===============*/
.user-table-info{
	td{
		padding:0px !important;
		padding-bottom: 6px !important;
		border:none !important;
	}
	th{
		@extend td;
		max-width: 60px !important;
		font-weight: normal;
	}
}
.change-info{
	width: 180px;
	height: 45px;
}

/*=============Create New Product=============*/
.create-btn{
	width: 130px;
	font-size: 19px;
}
.new-product{
	width: 675px;
	h3{@include h1;}
	table{
		th, td{
		border: none !important;
		font-weight: normal;
		}
		.short-input{
			width: 150px;
			display: inline;
		}
		td{
			position: relative;
			input[type=text], input[type=submit]{
				height: 45px;
			}
		}
		.row-name{
			border-bottom: 1px dashed #dddddd !important;
			.radio-inline{
				padding-left: 0px;
			}
		}
	}
}
.tabs-panel{
	border-bottom: solid 4px #f0f0f0;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 600px;
	margin-bottom: 12px;
	.active{
		a{
			padding-left: 30px;
			padding-right: 30px;
			color: #ffffff !important;
			background-color: #7ac142 !important;
			border:none !important;
		}
	}
	li{
		a{
			background-color: #4e525b;
			color: #ffffff;
			border:none;
			padding-left: 30px;
			padding-right: 30px;
		}
		a:hover{
			background-color: #7ac142;
			border:none;
		}
	}
}
.input-basic-table{
	th{
		padding-left: 55px !important;
		vertical-align: middle !important;
		width: 195px;
	}
}
.input-advance-table{
	max-width: 480px;
	margin: auto;
	label{
		margin: 0px;
		display: inline-block;
		font-weight: normal;
		padding-left: 25px;
	}
	.single{float: right;}
}
.input-file-table{
	max-width:595px;
	.thumbnail{
		position: relative;
		float: right;
		margin-left: 35px;
		padding: 0px !important;
		width: 150px;
		height: 150px;
		border: 3px solid #eaeaea;		
		img {
			width: 100%;
		}
		span{
			position: absolute;
			top:52px;
			left:52px;
			display: block;
			height: 40px;
			width: 40px;
			opacity: 1 !important;
			background-image:url(../../assets/images/play-icon.png);
			background-position: center;
			background-repeat: no-repeat;
			z-index: 2;
		}
	}
	.select-title{
		font-size: 19px;
	  position: relative;
	  top: 6px;
	}
	.create-btn{
		margin-left: 44.5%;
	}
	.video-mask{
		position: absolute;
		width: 100%;
		height:100%;
		background-color: #000000;
		opacity: 0.2;
		z-index: 1;
	}
}
.add-table{
	span{
		margin-right: 5px;
		height: 18px;
		width: 18px !important;
		display: block;
		background-image: url(../../assets/images/add-subtr-icon.png) !important;
		background-position: right;
		cursor: pointer;
	}
}
.subtract-table{
	span{
		margin-right: 5px;
		height: 18px;
		width: 18px !important;
		display: block;
		background-image: url(../../assets/images/add-subtr-icon.png)!important;
		background-position: left;
		cursor: pointer;
	}
}
.extra-table{
	.create-btn{
			margin-left: 39%;
	}
}
.input-pricing-table{
	th{
		width: 180px;
		font-size: 20px;
	}
	.season-seat{
		font-size: 16px !important;
	}
}
/*==============Style datepicker==============*/

.prev, .next, .datepicker-switch{
	border-radius: 0px !important;
}
.datepicker thead tr:first-child{
	background-color: #7ac142;
}
.datepicker thead tr:first-child th:hover{
	background-color: #7ac142;
}
.datepicker table tr td{
	border-radius: 100% !important;
	font-size: 10px;
}
.dow{
	font-size: 10px;
}
/*==============Radio button style============*/
input[type=radio]{
	-webkit-appearance: none;
	content: attr(data-tooltip);
	background-color: #ffffff;
	margin-left: 0px !important;
	margin-top: 2px;
	height: 18px;
	width:18px;
	border-radius: 100%;
	border: 2px solid #7f7f7f;	
}
input[type='radio']:checked{
	background-image: url(../../assets/images/checked.png);
	background-repeat: no-repeat;
	background-position: center;

}

/*==============Style File input===============*/
.select-file{
	max-width: 500px;
	float: right;
	input[type=text]{
		height: 45px !important;
	}
	span{
		height: 45px;
		line-height: 2;
	}
	.filePath{
	  position: absolute;
	  right: 0px;
	  top: 0px;
	  opacity: 0;
	  height: 45px;
	  width: 100px;
	  font-size: 30px;
	  cursor: pointer;	
	}
}
//===============Handler style===============*/

#spring, #summer, #autumn, #winter, #low, #middle, #high, #max{
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	border:none;
	height:16px;
	background-color:#f3f4f5;
	.ui-slider-handle, .ui-corner-all, .ui-state-default{
		top:-2px;
		border: 4px solid #ffffff !important;
		border-radius:100%;
    background: #0077c0 !important;
    font-weight: normal;
    height: 20px;
    width: 20px;
	}
}

#spring-percent, #autumn-percent, #summer-percent, #winter-percent, #low-percent,
#middle-percent, #high-percent, #max-percent{
		border: none;
    position: relative;
    height: 20px;
    font-size: 12px;
    width: 100%;
    padding-top: 10px;
    color: #0077c0;
    font-weight: bold;
    background:transparent;
	}

/*================Access Report================*/
.filter{
	h4{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.filter-time-line{
		.select2-container{
			margin-left: 10px;
			width: 80px !important;
		}
		.form-group{
			margin-left: 6%;
		}
	}
	.filter-year{
		margin-left: 6%;
		.select2-container{	width: 80px !important;	}
	}
	.filter-access-time{
		.form-group{
			margin-left: 6%;
			label{
				font-weight: normal;
				margin-right: 5px;
			}	
	}
}
	.filter-passcard{ padding-left:11%;	}
}
.filtered-data{
	margin-top:20px;
}
.filter-btn{
	width: 260px;
	background-color: #CC6699;
	color: #ffffff;
	margin-right:15%;
	margin-top:5px;
}
.export-pdf, .export-word, .export-excel{
	margin-top: 5px;
		display: inline-block;
		vertical-align: middle;
		height: 52px;
		width: 52px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		margin-left: 20px;
}
.export-pdf {
	background-image:url(../../assets/images/pdf.png);
}
.export-word {
	background-image:url(../../assets/images/word.png);
}
.export-excel {
	background-image:url(../../assets/images/excel.png);
}

/*----------------End of Compoment-------------*/

/*
*=================Footer===============
*/
footer{
	background-color: #282828;
	h3{
		font-size: 30px;
		padding-bottom: 10px;
		color: #f0f0f0;
		font-size: 25px;
		background-image: url(../../assets/images/underline_03.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
}
.footer-block{
	padding-bottom: 10px;
	ul{
		padding-left: 0px;
		li{
			list-style: none;
			padding-top: 2px;
			padding-bottom: 2px;
			color: #f0f0f0;
			a{color: #f0f0f0;}
		}
	}
}
.search-tip{
	padding-top:10px;
	padding-bottom: 5px;
	font-size: 12px;
}
li.link-social{
	a{
		span{
			display: inline-block;
			width: 17px;
			height: 17px;
			margin-left:8px;
			margin-right:8px;
		}
	}
}
.footer-search{height: 40px;}
$social-bg: url(../../assets/images/icon-soc.png);
.sc-blog{
	background-image: $social-bg;
	margin-left: 0px !important;
}
.sc-print{
	background-image: $social-bg;
	background-position: -32px;
}
.sc-instagram{
	background-image: $social-bg;
	background-position: -66px;
}
.sc-youtube{
	background-image: $social-bg;
	background-position: -98px;
}
.sc-facebook{
	background-image: $social-bg;
	background-position: -126px;
}
.sc-tweeter{
	background-image: $social-bg;
	background-position: -160px;
}
.sc-google{
	background-image: $social-bg;
	background-position: right;
}
.copyright{
	width: 100%;
	height:75px;
	background-color: #202020;
	border-top:solid 1px grey;
	color: #d6d6d6;
	p{margin-top:25px;}
}