*{
	font-family: "Century Gothic";
}
header{
	background: none !important;
}
/*
*=========Header=========
*/
/*=============Top Header=========*/
.top-bar{
	width: 100%;
	min-height: 42px;
	background-color: #7ac142;
}
.welcome{
	float: left;
	color: #ffffff;
}
.telephone{
	float: right;
	margin-top: 10px;
	color: #ffffff;
}
.currency{
	color: #000000;
	background: none;
	border-color: #fcff00 !important;
	background-color: #fcff00 !important;
}
/*=============Header Menu===========*/
.navbar{margin-top: 10px; }
.head-nav{margin-top: 15px;}
.nav{li { a{color: #000000;}}}
.search-box{position: relative;}
.search-form{
	margin-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
}
.search-text{
	min-width: 290px;
	height: 40px;
}
.search-button{
	margin: 0px;
	position: absolute;
	float: right;
	top: 7%;
	right:5%;
	border: none;
	background: transparent;
	background-image: url(../../assets/images/srcbtn_03.png);
	background-repeat: no-repeat;
	background-position: center;
}
.cart-account{
	max-width: 150px;
	max-height: 100px;
	float: right;
}
.cart-wrap {
	position: relative;
	float: left;
	width: 65px;
	height: 65px;
}
.account-wrap{
	@extend .cart-wrap;
	width: 75px;
}
.cart-wrap{
	background-image: url(../../assets/images/img_03.png);
	background-position: top center;
	background-repeat: no-repeat;
}
#cart-count{
	position: absolute;
	top: 2px;
	right: 12px;
	color: #ffffff;
	font-size: 14px;
	background-color: transparent;
}
.total-price{
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 12px;
}
.account-wrap{
	background-image: url(../../assets/images/img_09.png);
	background-position: center;
	background-repeat: no-repeat;
}
.account{
	position: absolute;
	bottom: 0px;
	font-size: 12px;
}/*==============Title bar================*/
.title{
	width: 100%;
	background-color: #0077c0;
	min-height: 60px
}
.breadcrumb{
	margin-top:10px;
	margin-bottom: 10px;
	background: none;
	font-size: 19px;
	padding-left: 0px;
	padding-right: 0px;
	a{color: #ffffff;}
	li + li:before{content: ">";}
}
.view-sort{
	min-height: 48px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	label{
		margin-left: 10px;
		color: #ffffff;
		font-weight: normal;
	}
	select{
		height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
	}
	ul{
		float: right;
		li{
			display: inline-block;
			
			
		}
	}
}
#select-view{
	margin-left: 5px;
	margin-right: 5px;
}
#select-sort{margin-left: 5px;}
/*
*================Main Content============
*/
main{
	padding-bottom: 40px;
	min-height: 360px;}
.table-responsive{
	h1, h3{
		padding-bottom: 10px;
		margin-bottom: 20px;
		background-position: left bottom;
		background-size: 125px;
		background-image: url(../../assets/images/underline_03.png);
		background-repeat: no-repeat;
	}
}
/*===========left-side bar=================*/
.badge{
	padding: 5px 5px !important;
	border-radius: 40px !important;
	color: #000000;
	background-color: #fcff00;
}
.left-side{
	margin-top:20px;
	ul{
		li{
			margin-top: 0px;
			a{
				padding-top: 14px;
				padding-bottom: 14px;
				padding-left :10px;
				color: #ffffff;
				background-color: #7ac142;
				border-radius: 0px;
				background-image: url(../../assets/images/bg-left-side_03.png);
				background-position: bottom;
				background-repeat: repeat-x;
			}
		}
	}
}
.sidenav{
	position: relative;
	float: left;
	width: 100%;
	li{
		a:hover, a:focus{
			color: #ffffff;
			background-color: #7ac142;
		}
	}
}
.sub-menu{
	float: none;
	position: relative;
	ul{
		position: absolute;
		top: 0px;
		width: 220px;
		left: 99%;
		z-index: 1;
	}
}
.right-arrow{float: right !important;}
/*
*
************Add Compoment here***********
*
*/
/*=================Pagination style====================*/
.pagin{
	float: right;
	label{
		margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
    
	}
}
#pagination-page{
	width: 56px;
	height: 28px;
	border-radius: 0px !important;

}
.page-direction{
	float: right;
	list-style: none;
	width: 100px;
	li{
		display: inline;
		span{
			height: 24px;
			width: 24px;
			padding: 2px;
    	text-align: center;
    	font-size: 19px;
    	background-color: #616363;
    	color: #ffffff;
		}
	}
}
.last-page{background-color: #ebebeb !important;}

/*=================Style for all data Table==================*/
.data-table{
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	th{
		font-weight:normal;
		height:44px;
		padding:12px 8px !important;
		padding-right: 0px !important;
	}
	td{
		height:44px !important;
		padding-top:12px !important;
		padding-bottom:10px !important;
		padding-right: 0px !important;
	}
	.detail{
		span{
			margin-right: 5px;
			height: 18px;
			width: 28px;
			display: block;
			background-image: url(../../assets/images/detail-icon_03.png);
		}
	}
}
.data-search{
	position: relative;
	float: right;
	max-width: 190px;
	height: 40px;
	margin-top: 20px;
	input{
		max-width: 190px;
		height: 40px;
	}
}
.search-data{
	@extend .search-button;
	top: 10px;
  right: 10px;
  width: 21px;
  height: 20px;
}
/*======Administrator Login Site=========*/
.login-form{
	margin: auto;
	margin-top: 20px !important;
	max-width: 500px;
	.log-text{
		max-width: 465px;
		height: 45px;
	}
	input[type=submit]{
		margin-left: 32%;
	    height: 45px !important;
	    width: 180px !important;
	}
}

/*===============Change Pass=============*/
.change-pass{
	.input-pass{
		margin-top:10px !important;
		margin-bottom: 10px !important;
		max-width: 460px ;
		height: 40px;
	}
	input[type=submit]{
		margin-left: 30%;
		margin-top:10px !important;
		margin-bottom: 10px !important;
	    height: 50px !important;
	    width: 135px !important;
	}
}
/*================Contact Info===============*/
.user-table-info{
	td{
		padding:0px !important;
		padding-bottom: 6px !important;
		border:none !important;
	}
	th{
		@extend td;
		max-width: 60px !important;
		font-weight: normal;
	}
}
.change-info{
	width: 180px;
	height: 45px;
}

/*=============Create New Product=============*/
.new-product{
	width: 675px;
}
.tabs-panel{
	border-bottom: solid 4px #f0f0f0;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 600px;
	.active{
		a{
			padding-left: 30px;
			padding-right: 30px;
			color: #ffffff !important;
			background-color: #7ac142 !important;
			border:none !important;
		}
	}
	li{
		a{
			background-color: #4e525b;
			color: #ffffff;
			border:none;
			padding-left: 30px;
			padding-right: 30px;
		}
		a:hover{
			background-color: #7ac142;
			border:none;
		}
	}
}
.input-basic-table{
	th, td{
		border: none !important;
	}
	th{
		padding-left: 55px !important;
		vertical-align: middle !important;
		width: 195px;
		font-weight: normal;
	}
	input{
		height: 45px;
	}
	.base-price{
		width: 150px;
		display: inline;
	}
	input[type=submit]{
		width: 130px;
		font-size: 19px;
	}
}

/*================Access Report================*/
.general-information{
	padding-top:5px;
	background-color: #1F2834;
	h5{
		margin-top: 10px;
		border-bottom: solid 1px #666666;
		width: 50%;
		color: #ffffff;
		padding-bottom: 5px;
	}
	p{
		font-size: 139px;
		font-weight: 200;
		color: #ffffff;
		line-height: 0.8;
	}
	.compare{
		div{
			display: inline;
			font-size: 26px;
			span{
				margin: 0 7px 0 15px;
				font-size: 10px;
				vertical-align: middle;
			}
		}
		p{
			font-size: 11px;
			color: #334660;
			padding-left: 35px;
    	margin-top: 2px;
		}
		.insc{
			color: #1BBC9C;
		}
		.desc{
			color: #E94D3C;
		}
	}
}
.filter{
	h4{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.filter-time-line{
		.select2-container{
			margin-left: 10px;
			width: 80px !important;
		}
		.form-group{
			margin-left: 6%;
		}
	}
	.filter-year{
		margin-left: 6%;
		.select2-container{	width: 80px !important;	}
	}
	.filter-access-time{
		.form-group{
			margin-left: 6%;
			label{
				font-weight: normal;
				margin-right: 5px;
			}	
	}
}
	.filter-passcard{ padding-left:11%;	}
}
.filtered-data{
	margin-top:20px;
}
.filter-btn{
	width: 260px;
	background-color: #CC6699;
	color: #ffffff;
	margin-right:15%;
	margin-top:5px;
}
.export-pdf, .export-word, .export-excel{
	margin-top: 5px;
		display: inline-block;
		vertical-align: middle;
		height: 52px;
		width: 52px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		margin-left: 20px;
}
.export-pdf {
	background-image:url(../../assets/images/pdf.png);
}
.export-word {
	background-image:url(../../assets/images/word.png);
}
.export-excel {
	background-image:url(../../assets/images/excel.png);
}

/*----------------End of Compoment-------------*/

/*
*=================Footer===============
*/
footer{
	background-color: #282828;
	h3{
		font-size: 30px;
		padding-bottom: 10px;
		color: #f0f0f0;
		font-size: 25px;
		background-image: url(../../assets/images/underline_03.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
}
.footer-block{
	padding-bottom: 10px;
	ul{
		padding-left: 0px;
		li{
			list-style: none;
			padding-top: 2px;
			padding-bottom: 2px;
			color: #f0f0f0;
			a{color: #f0f0f0;}
		}
	}
}
.search-tip{
	padding-top:10px;
	padding-bottom: 5px;
	font-size: 12px;
}
li.link-social{
	a{
		span{
			display: inline-block;
			width: 17px;
			height: 17px;
			margin-left:8px;
			margin-right:8px;
		}
	}
}
.footer-search{height: 40px;}
$social-bg: url(../../assets/images/icon-soc.png);
.sc-blog{
	background-image: $social-bg;
	margin-left: 0px !important;
}
.sc-print{
	background-image: $social-bg;
	background-position: -32px;
}
.sc-instagram{
	background-image: $social-bg;
	background-position: -66px;
}
.sc-youtube{
	background-image: $social-bg;
	background-position: -98px;
}
.sc-facebook{
	background-image: $social-bg;
	background-position: -126px;
}
.sc-tweeter{
	background-image: $social-bg;
	background-position: -160px;
}
.sc-google{
	background-image: $social-bg;
	background-position: right;
}
.copyright{
	width: 100%;
	height:75px;
	background-color: #202020;
	border-top:solid 1px grey;
	color: #d6d6d6;
	p{margin-top:25px;}
}