
.data-search input{
	width: 100%;
}
h1{	
	@include h1;
}
table{
	border-color: $border-color;
	td,thead{
		padding:17px 0 !important;
		&:first-child{
			padding-left: 17px !important;
		}
		&:last-child{
			padding-right: 17px !important;
		}
	}
}
.page-direction{
	.fa{
		position: relative;
		font-size: 26px;
		&:before{
			position: absolute;
			right: 8px;
			bottom: 0;
		}
	}
}
.page-direction{
	max-width: 62px;
}
.pagin{
	padding-right: 10px;
	label{
		margin-right: 0;
		margin-left: 3px;
	}
	.select2.select2-container.select2-container--default{
		margin-top: -3px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		right: 8px;
	}
}
/* Re-style create new voucher */
.form-horizontal{
	font-size: 16px;
	.form-group{
		margin-bottom: 20px;
		label{
			font-weight: 400;
		}
		.label-inline{
			height: 45px;
			line-height: 45px;			
			input[type="radio"]{
				margin-left: -25px;
				margin-top: 15px;
			}
		}
		.radio{
			input{
				margin-right: 10px;
			}
		}

		input[type="text"]{
			height: 45px;
			padding: 0 12px;
			line-height: 45px;
		}
		span{
			font-size: 14px;
			line-height: 45px;
		}
	}
	.datepicker{
		table{
			border: 1px solid #cecece;
			thead tr:first-child{
				color: $white;
			}
			th{
				&.prev{
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    color: transparent;			       
    				margin-left: 4px;
    				float: left;
				    &:before
				    {
			    	   content:"\f053";
			    	   color: $white;
				    }
				}
				&.next{
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    color: transparent;
			        float: right;
				    margin-top: 5px;
				    margin-right: -3px;
				    &:before
				    {
			    	   content:"\f054";
			    	   color: $white;
				    }
				}
			}
			td.day{
				padding:15px !important;
			}
			tbody{
				tr:last-child{
					td{
						border-bottom: 1px solid #cecece;
					}
				}
			}
		}
	}
	.datepicker-inline{
		width: 300px;
	}
}
.customer_generated,.number_generated{
	color: $green;
}
/* Style bootstrap toogle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tab-content{
	.form-group{
		margin-bottom: 20px;
		clear: both;
		.control-label,.controls{
			height: 45px;
			line-height: 45px;
		}
	}
	table.table{
		tr{
			th{
				&:first-child{
					padding-left: 17px !important;
				}
				&:last-child{
					padding-right: 17px !important;
				}

			}
		}
	}
}